<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp Web</title>

    <script src="https://kit.fontawesome.com/ac7c5522e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="background">
        <div class="color-1"></div>
        <div class="color-2"></div>
    </div>

    <main class="container" id="archive-chat">

        <div class="left-part">

            <div class="sec-user">
                <div class="img-user">
                    <img src="img/avatar_io.jpg" alt="User Image">
                    <span>Nome Utente</span>
                </div>

                <div class="menu-options">

                    <a href="#">
                        <i class="fa-solid fa-circle-notch"></i> 
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-message"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                    

                </div>
                
            </div>

            <div class="sec-notifs">

                <div class="notif-audio">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>

                <div class="notif-text">
                    <span>Ricevi notifiche di nuovi messaggi</span><br>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
               
            </div>

            <div class="sec-chats">

                <div class="bar-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input id="search-chat" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                
                
                <div class="preview_chat" >

                    <div class="contact" v-for="(contact, index) in contacts" @click="changeChat(index)">
                        <div class="chat-img">
                            <img :src="contact.avatar">
                        </div>

                        <div class="chat-preview">
                            <h3>{{contact.name}}</h3>
                            <span>{{contact.messages[contact.messages.length -1] .text.slice(0, 17) + '...'}}</span>
                            <span class="date">{{contact.messages[contact.messages.length -1] .date}}</span>
                        </div>
                        
                    </div>

                </div>

            </div>

        </div>

        <div class="right-part">

            <div class="header-chat">
                <div class="header-informations">
                    <img :src="contacts[active].avatar">
                    <span>{{contacts[active].name}}</span>
                </div>

                <div class="menu-options">

                    <a href="#">
                        <i class="fa-solid fa-magnifying-glass"></i> 
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-paperclip"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                    
                </div>
                
            </div>

            <div class="viewed-messages">

                <ul class="line-message" v-for="contact in contacts[active].messages">

                    <li :class="contact.status == 'sent' ? 'sent' : 'received' ">
                        {{contact.text}}
                        <div class="msg-date">{{contact.date}}</div>
                    </li>

                </ul>

            </div>

            <div class="footer-chat">

                <a href="#">
                    <i class="fa-regular fa-face-smile"></i>
                </a>
                

                <input type="text" id="message-chat" v-model="newMessage" @keyup.enter="sendMessage">

                <a href="#">
                    <i class="fa-solid fa-microphone"></i>
                </a>
                

            </div>

        </div>


    </main>
    


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <script type="text/javascript" src="main.js"></script>

</body>
</html>