* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

/*Regole background*/

.background {
    width: 100%;
    height: 100%;
    position: relative;
}

.color-1 {
    background-color: #1C9688;
    width: 100%;
    height: 20Vh;
}

.color-2 {
    background-color: #D5DBDB;
    width: 100%;
    height: 80Vh;
}

/*Regole container*/

.container {
    width: 80%;
    height: 90Vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/*Regole parte sinistra del container*/

.left-part {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Regole sezione utente*/

.sec-user {
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-user {
    display: flex;
    align-items: center;
}

.img-user img {
    border-radius: 50%;
    width: 60px;
    margin: 10px;
}

.img-user span {
    font-size: 15px;
    font-weight: bold;
}

.menu-options {
    padding: 15px;
}
.menu-options a {
    text-decoration: none;
    color: #B1B1B1;
}

.menu-options i {
    font-size: 25px;
    margin-left: 20px;
}

/*Regole sezione notifiche*/

.sec-notifs {
    background-color: #8EDAFD;
    display: flex;
    padding: 20px;
    align-items: center;
}

.sec-notifs i {
    background-color: #fff;
    padding: 13px;
    font-size: 20px;
    border-radius: 50%;
    color: #8EDAFD;
}

.notif-text {
    margin-left: 10px;
}

.notif-text span {
    font-weight: bold;
}

.notif-text a {
    color: #414141;
    font-size: 15px;
}

/*Regola sezione archivi chat*/

.sec-chats {
    background-color: #FAFAFA;
}

.contact {
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    position: relative;
}

.contact img {
    border-radius: 50%;
    width: 70px;
    margin: 10px;
}

.chat-preview {
    margin-left: 20px;
    margin-top: 10px;
    
}

.chat-preview span {
    color: #B1B1B1;
    font-size: 15px;
}

.chat-preview .date {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
}

/*Regola parte destra del container*/

.right-part {
    background-color: #0e312d;
    width: 70%;
    height: 100%;
}